.preview__education h3 {
  border-bottom: 1px solid rgb(46, 131, 189);
}

.preview__university {
  display: flex;
  flex-direction: column;
}

.title-date {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.uni-name {
  font-weight: 700;
}
.uni-date {
  font-size: 0.8rem;
  font-style: italic;
}

.honors {
  padding-left: 1.2rem;
}
