.preview * {
  margin: 0;
  word-wrap: break-word;
}

.previeiw h1,
.preview h2,
.preview h3 {
  color: rgb(46, 131, 189);
}

.preview {
  background-color: white;
  width: 794px;
  height: 1123px; /* Fixed A4 height */
  grid-auto-rows: min-content; /* This makes rows only as tall as their content */
  border: 1px solid black;
  padding: 2rem;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 2rem;
}
