.preview__work-exp {
  display: flex;
  flex-direction: column;
}

.preview__work-exp h3 {
  border-bottom: 1px solid rgb(46, 131, 189);
}

.job-title-date {
  display: flex;
  gap: 1rem;
  align-items: center;
  margin-bottom: -10px;
}

.job-title-date::before {
  content: "•"; /* or "\2022" for a bullet point */
  margin-right: -10px;
  background-color: #fff;
  font-size: 30px;
}

.work-exp-title {
  font-weight: 700;
}
.work-exp-date {
  font-size: 0.8rem;
  font-style: italic;
}

.work-responsibility {
  padding-left: 2rem;
}

