#root {
  padding: 0;
  font-family: Arial, sans-serif; /* Example font, can be customized */
  line-height: 1.5; /* Ensures consistent line height */
}

body {
  background-color: grey;
  box-sizing: border-box;
}
